.form {
	display: flex;
}

.input {
	border: none;
	border-radius: 30px;
	padding: 1.8rem;
	width: 100%;
	margin-left: 4rem;
	margin-right: 4rem;
	font-size: 15px;
	font-family: consolas;
	border: 1px solid #f4f6ff;
	color: white;
	position: relative;
	background-color: transparent;
	word-wrap: break-word;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 15px;
	display: inline-block;
	border: none;
	border-radius: 16px;
	width: 20%;
}

.send-icon {
	position: absolute;
	right: 53rem;
	bottom: 8.6rem;
	width: 2.3rem;
	height: 2.3rem;
	transition: ease-out 0.3s;
}

.send-icon:hover {
	cursor: pointer;
}

.send-icon:active {
	transform: translateY(4px);
}
